#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

install/acer-acpi-source::
	# Enforce executable bit on debian/rules, and create directory structure for 
	# modules source
	install -D -m 0755 debian/rules.modules \
		debian/tmp/modules/acer-acpi/debian/rules
	
	# Prepare the other debian stuff
	for f in *.modules.in control compat copyright changelog; do \
		install -m 0644 debian/$$f debian/tmp/modules/acer-acpi/debian/; \
	done
		
	# Prepare upstream source
	install -m 0644 Makefile *.c \
		debian/tmp/modules/acer-acpi/
	
	# Prepare the debian source tarball
	cd debian/tmp/ && \
		tar jcf ../acer-acpi-source/usr/src/acer-acpi.tar.bz2 modules
